In [1]:
import pandas as pd
import numpy as np

# Read in Clauset Files

Note that I deleted the # from the top of each of those files, so that pandas doesn't barf.

In [27]:
V = pd.read_csv('ComputerScience_vertexlist.txt',delimiter='\t')
V.head()

   u    pi USN2010 NRC95   Region                           institution
0  1  2.23       1     1  West                      Stanford University
1  2  2.31       1     3  West                              UC Berkeley
2  3  3.52       1     2  Northeast                                 MIT
3  4  5.24      11    12  West       California Institute of Technology
4  5  6.12      17    11  Northeast                  Harvard University

In [6]:
E = pd.read_csv('ComputerScience_edgelist.txt',delimiter='\t')
E.head()

   u  v   rank gender
0  1  1   Asst      M
1  1  1  Assoc      M
2  1  1  Assoc      M
3  1  1   Full      M
4  1  1   Full      M

# Create and save adjacency matrix

In [21]:
N = np.max(E['u'].values)+1
adj = np.zeros([N,N])
for row in E.iterrows():
    adj[row[1].u-1,row[1].v-1] += 1
np.save('CS',adj)

# Create and save vertex2region vector

In [35]:
region_strings = V['Region  '].values
regions,region_ints = np.unique(region_strings,return_inverse=True)
np.save('CS_regions_key',regions)
np.save('CS_regions',region_ints)